<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="User Blog API Test Suite" verbose="2">

    <listeners>
        <listener class-name="com.freenow.framework.Base.CustomReporter"></listener>
    </listeners>

    <test name="Blog Comments Test">
        <classes>
            <class name="com.freenow.test.CommentsTest"/>
        </classes>
    </test>

</suite>
